[#- renovate: datasource=pypi depName=singer-sdk #]
[%- set SINGER_SDK_VERSION = "0.54.5" -%]
[%- set prefix = tap_id|replace('-', '_')|upper -%]

[build-system]
build-backend = "hatchling.build"
requires = [
  "hatch-vcs",
  "hatchling",
]

[project]
name = "[[ tap_package_distribution_name ]]"
description = "Singer tap for [[ tap_source_name ]], built with the Meltano SDK for Singer Taps."
readme = "README.md"
keywords = [
  "ELT",
  "[[ tap_source_name ]]",
  "singer.io",
]
license = "Apache-2.0"
requires-python = ">=3.12"
classifiers = [
  "Programming Language :: Python :: 3 :: Only",
  "Programming Language :: Python :: 3.12",
  "Programming Language :: Python :: 3.13",
  "Programming Language :: Python :: 3.14",
]
dynamic = [
  "version",
]
dependencies = [
  [%- if tap_stream_type == 'REST' and tap_auth_method == 'Basic Auth' %]
  "requests>=2.34,<3",
  [%- endif %]
  [%- if tap_auth_method == 'JWT' %]
  "singer-sdk[jwt]~=[[ SINGER_SDK_VERSION ]]",
  [%- else %]
  "singer-sdk~=[[ SINGER_SDK_VERSION ]]",
  [%- endif %]
]
[[ "[[project.maintainers]]" ]]
name = "[[ author_fullname ]]"
email = "[[ author_email ]]"
[[ "[[project.authors]]" ]]
name = "[[ author_fullname ]]"
email = "[[ author_email ]]"
[project.urls]
Documentation = "https://[[ repository_provider ]]/[[ repository_namespace ]]/[[ repository_name ]]#readme"
Homepage = "https://[[ repository_provider ]]/[[ repository_namespace ]]/[[ repository_name ]]"
Repository = "https://[[ repository_provider ]]/[[ repository_namespace ]]/[[ repository_name ]]"
[project.scripts]
[[ tap_package_command_line_name ]] = "[[ tap_package_import_name ]].tap:Tap[[ tap_source_id ]].cli"

[dependency-groups]
dev = [
  "deptry>=0.25",
  { include-group = "testing" },
  { include-group = "typing" },
]
testing = [
  "pytest>=9",
  "singer-sdk[testing]",
]
typing = [
  "mypy>=2.1",
  "ty>=0.0.50",
  { include-group = "testing" },
]

[tool.hatch.version]
source = "vcs"
fallback-version = "0.0.0"

[tool.uv]
required-version = ">=0.10"

[tool.ruff]
line-length = 88
[tool.ruff.lint]
select = [
  "ALL",
]
ignore = [
  "COM812", # missing-trailing-comma
  "DJ",     # flake8-django
  "FIX002", # line-contains-todo
  "ISC001", # single-line-implicit-string-concatenation
  "PD",     # pandas-vet
]
per-file-ignores."tests/*" = [
  "ANN201", # missing-return-type-public-function
  "S101",   # assert
  "SLF001", # private-member-access
]
unfixable = [
  "ERA001", # commented-out-code
]
flake8-annotations.allow-star-arg-any = true
pydocstyle.convention = "google"

[tool.pyproject-fmt]
table_format = "long"

[tool.mypy]
warn_redundant_casts = true
warn_unused_ignores = true
warn_no_return = true
warn_return_any = true
warn_unreachable = true
enable_error_code = [
  "ignore-without-code",
  "redundant-expr",
  "truthy-bool",
]
strict = true
warn_unused_configs = true

[tool.pytest]
addopts = [
  "-v",
  "--durations=10",
  "-ra",
]
filterwarnings = [
  "error",
  "once:No records were available to test:UserWarning",
]
log_level = "INFO"
minversion = "9"
strict = true
testpaths = [ "tests" ]

[tool.tox]
requires = [
  "tox>=4.55",
  "tox-uv>=1.35",
]
env_list = [
  "dependencies",
  "typing",
  { prefix = "3.", start = 12 },
]
[tool.tox.env.dependencies]
description = "check for unused, missing and transitive dependencies"
dependency_groups = [ "dev" ]
commands = [
  [ "deptry", { replace = "posargs", default = [ "." ], extend = true } ],
]
[tool.tox.env.typing]
description = "type checks"
dependency_groups = [ "typing" ]
commands = [
  [ "mypy", { replace = "posargs", default = [ "[[ tap_package_import_name ]]", "tests" ], extend = true } ],
  [ "ty", "check", { replace = "posargs", default = [ "[[ tap_package_import_name ]]", "tests" ], extend = true } ],
]
[tool.tox.env_run_base]
runner = "uv-venv-lock-runner"
description = "run tests on Python {py_dot_ver}"
dependency_groups = [ "testing" ]
pass_env = [
  [%- if repository_provider == "github.com" %]
  "GITHUB_*",
  [%- endif %]
  "[[ prefix ]]_*",
]
commands = [ [ "pytest", { replace = "posargs", default = [ "tests" ], extend = true } ] ]
