name: Test template output

on:
  pull_request:
    paths:
    - src/**
    - noxfile.py
    - .github/workflows/test.yml
    - copier.yml
  push:
    branches:
    - 'main'
    paths:
    - src/**
    - noxfile.py
    - .github/workflows/test.yml
    - copier.yml
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  FORCE_COLOR: "1"
  # renovate: datasource=pypi depName=copier
  COPIER_VERSION: 9.11.0
  # renovate: datasource=pypi depName=nox
  NOX_VERSION: 2025.11.12
  # renovate: datasource=pypi depName=pre-commit
  PRE_COMMIT_VERSION: 4.5.1
  # renovate: datasource=pypi depName=pre-commit-uv
  PRE_COMMIT_UV_VERSION: 4.2.0
  # renovate: datasource=pypi depName=tox
  TOX_VERSION: 4.34.1
  # renovate: datasource=pypi depName=tox-uv
  TOX_UV_VERSION: 1.29.0
  # renovate: datasource=pypi depName=uv
  UV_VERSION: 0.9.26
  # renovate: datasource=pypi depName=zizmor
  ZIZMOR_VERSION: 1.20.0

permissions: {}

jobs:
  linting:
    name: Lint Templates
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        visibility: ["private", "public"]
        stream_type: ["REST", "GraphQL"]
        dependency_management_tool: ["Dependabot", "Renovate"]
        auth_method:
        - "API Key"
        - "Bearer Token"
        - "Basic Auth"
        - "OAuth2"
        - "JWT"
        - "Custom or N/A"

    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        fetch-depth: 0
        persist-credentials: false

    - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
      with:
        python-version: 3.x

    - uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0
      with:
        version: ${{ env.UV_VERSION }}

    - name: Install copier
      run: |
        uv tool install --with copier==${COPIER_VERSION} copier
        copier --version

    - name: Install Nox
      run: |
        uv tool install --with nox==${NOX_VERSION} nox
        nox --version

    - name: Install Tox
      run: |
        uv tool install --with tox-uv==${TOX_UV_VERSION} --with tox==${TOX_VERSION} tox
        tox --version

    - name: Install zizmor
      run: |
        uv tool install --with zizmor==${ZIZMOR_VERSION} zizmor
        zizmor --version

    - name: Install pre-commit
      run: |
        uv tool install --with pre-commit-uv==${PRE_COMMIT_UV_VERSION} --with pre-commit==${PRE_COMMIT_VERSION} pre-commit
        pre-commit --version

    - name: Install dependencies
      run: >
        nox
        --install-only
        -s "lint(dependency_management_tool='${{ matrix.dependency_management_tool }}', visibility='${{ matrix.visibility }}', auth_method='${{ matrix.auth_method }}', stream_type='${{ matrix.stream_type }}')"

    - name: Run Nox
      env:
        PYTHONWARNINGS: "all,error::DeprecationWarning,ignore::DeprecationWarning:setuptools_scm._get_version_impl"
      run: >
        nox
        --reuse-existing-virtualenvs
        --no-install
        -s "lint(dependency_management_tool='${{ matrix.dependency_management_tool }}', visibility='${{ matrix.visibility }}', auth_method='${{ matrix.auth_method }}', stream_type='${{ matrix.stream_type }}')"
